# Ignorar arquivo de configuração sensível do dbt
Traffic-Tickets-SP-Databricks/dbt/profiles.yml
Traffic-Tickets-SP-Databricks/notebook_qa/access_dbt_notes.py

# Ignorar variáveis de ambiente
Traffic-Tickets-SP-Databricks/.env
*.env*

# Ignorar diretórios de saída do dbt
target/
dbt_packages/

# Ignorar arquivos temporários e de log
logs/
*.log
notebooks_QA/logs/

# Ignorar notebooks exportados
*.ipynb

# Ignorar arquivos do sistema
.DS_Store
Thumbs.db
